/* General Styles */
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #dad7e0; /* Light Blue Background */
    color: #211e2e; /* Purple Font Color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.home-page {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #211e2e;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #211e2e;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #dad7e0;
    border: 1px solid #211e2e;
    color: #211e2e;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .button-container {
        flex-direction: column;
    }

    .button {
        width: 100%;
        padding: 15px;
    }
}
